# Flask环境配置
FLASK_ENV=development
FLASK_APP=backend/app.py

# GPU配置
USE_GPU=False

# 模型路径
MODEL_PATH=backend/models/model_weights.pth

# 数据集路径
DATA_PATH=./flower_data

# API配置
AP_HOST=0.0.0.0
API_PORT=5000
